
.set{
    border: 2px solid black;
    margin: auto;
    padding: 10px ;
    
}

#Adiv{
    background-color:lightgreen;
}

#Bdiv{
    background-color: plum;
}

#Cdiv{
    background-color: skyblue;  
}

#Ddiv{
    background-color: lightpink;
}

ul{
    list-style-type: none;
}

li{
    
    width: 120px;
    height: 30px;
    background-color: rgb(255, 243, 166);
    border: 1px solid black;
    margin: 15px;
    padding: 10px;
}

li:hover{
    background-color: orange;
}



@media screen and (min-width:992px){
    body {
        text-align: center; /* Align divs to center */
    }

    .set {
        display: inline-block;
        vertical-align: top;
        width: calc(21% - 20px);/*??*/
    }

}

@media screen and (min-width:768px) and (max-width:991px){
    
    .set {
        display: inline-block;
        vertical-align:top;
        width: calc(50% - 5px);
        box-sizing: border-box;
    }

    .set:after {
        display: table;
    }



}

@media screen and (max-width: 767px) {
    
    .set {
        display: block;
        width: 50%;
    }

}
#MyTitle, #MyFoot {
    text-align: center;
}
